<!DOCTYPE html>
<html>
<head>
  <title>Word Picker</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <style>
    button {
      background-color: #eeeeee;
      font-size: 200%;
    }
    button:focus {
      outline: solid 6px red;
    }
    button.word {
      display: block;
      margin: 5px auto;
      width: 100%;
      max-width: 600px;
      display: flex;
    }
    button.word strong {
      flex: 1;
      text-align: left;
    }
    button.chosen {
      background-color: red;
    }
    .bottom {
      text-align: center;
    }
  </style>
</head>
<body>
  <div id="app">
    <template v-if="!loaded">
      Loading!
    </template>
    <template v-else>
      <template v-for="w of currentWords">
        <button class="word" :class="{chosen:isChosen(w.word)}" @click="send(w.word, !isChosen(w.word))">
          <strong>{{ w.word }}</strong>
          <span>{{ w.count }}</span>
        </button>
      </template>
      <br><br>
      <div class="bottom">
        <button @click="back">&lt; back</button>
        <button @click="next">NEXT &gt;</button>
      </div>
    </template>
  </div>

  <script>
    function shuffleArray(array) {
      for (var i = array.length - 1; i > 0; i--) {
        var j = Math.floor(Math.random() * (i + 1));
        var temp = array[i];
        array[i] = array[j];
        array[j] = temp;
      }
      return array;
    }

    var allWords = null;

    var app = new Vue({
      el: '#app',
      data: {
        loaded: false,
        groupNum: 0,
        chosen: {},
      },
      async created() {
        this.chosen = (await axios.get('/api/chosen')).data
          .reduce((set, word) => (word && (set[word] = true), set), {});

        allWords = shuffleArray(
          (await axios.get('/phrases.txt')).data
          .split('\n')
        )
          .map(line => line.trim())
          .map(line => ({
            count: +line.split(' ')[0],
            word: line.substr(line.indexOf(' ')+1),
          }))

        this.loaded = true;
      },
      computed: {
        currentWords() {
          const perPage = 5;
          const start = this.groupNum * perPage;
          return allWords.slice(start, start+perPage)
        }
      },
      methods: {
        isChosen(word) {
          return !!this.chosen[word];
        },
        next() {
          ++this.groupNum;
        },
        back() {
          --this.groupNum;
          if (this.groupNum < 0 ) this.groupNum = 0;
        },
        async send(word, used) {
          await axios.post('/api/word', { word, used })
          this.chosen = {...this.chosen, [word]:used };
        },
      },
      mounted() {
        window.addEventListener('keydown', evt => {
          if (!evt.key.startsWith('Arrow')) return;

          evt.preventDefault();

          const btn = document.querySelector('.word:focus');

          if (evt.key === 'ArrowDown') {
            const nextBtn = btn && btn.nextElementSibling
              || document.querySelector('.word:first-of-type');
            setTimeout(() => nextBtn.focus(), 1);
          } else if (evt.key === 'ArrowUp') {
            const nextBtn = btn && btn.previousElementSibling
              || document.querySelector('.word:last-of-type');
            setTimeout(() => nextBtn.focus(), 1);
          } else if (evt.key === 'ArrowRight') {
            this.next();
          } else if (evt.key === 'ArrowLeft') {
            this.back();
          }
        });
      }
    })
  </script>
</body>
</html>